#hidebg { 
	position:absolute;
	left:0px;
	top:0px;
    background-color:#000;
    width:100%;  
    filter:alpha(opacity=60);  
    opacity:0.6;  
    display:none; 
    z-Index:2;
}
/*弹出窗口原页面变灰*/
#loginform{
	width:30%;
	height:330px;
	border:1px solid lightcyan;
	border-radius:7px;
	position: fixed;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 99;
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.login{
	margin-top:60px;
}
/*登录窗口样式*/
#registerform{
	width:30%;
	height:480px;
	border:1px solid lightcyan;
	border-radius:7px;
	position: fixed;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 99;
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
/*注册窗口样式*/
label{
	color:#4876ff;
}
input[type="text"],[type="password"],[type="email"]{
	width:200px;
	height:25px;
	font-size: 15px;
	border-radius: 8px;
	opacity: 0.6;
}
input[type="submit"],[type="reset"]{
	font-size: 15px;
	border-radius:6px;
	background-color:dodgerblue;
	width:85px;
	height:30px;
	margin-top:15px;
}
input[type="number"]{
	width:50px;
	height: 20px;
	border-radius:6px;
	font-size: 13px;
	opacity: 0.6;
	
}
/*表单样式*/
.formclose{
	width: 100%;
	height:40px;
	background-color: #C6E2FF;
	border-top-left-radius:7px ;
	border-top-right-radius:7px ;
}
/*窗口关闭按钮div层*/
.formclose img{
	float: right;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
/*窗口关闭按钮样式*/
.tip{
	color:black !important;
	font-size: 13px;
}
/*注册提示*/