body{
	background-image: url('../image/system.jpg');
	background-repeat: no-repeat;
	 background-attachment:fixed;
	 background-position: center 0;
	-webkit-background-size: cover;
	background-size: cover;
}
/*页面背景样式*/
h1{
	text-align: center;
	font-family: "arial, helvetica, sans-serif";
}
/*大标题*/
#pw-container{
	width:700px;
	height: 430px;
	margin: 100px auto auto 350px;
}
.pw-item{
	width:500px;
	height:200px ;
	margin: 150px auto auto 100px;
}
/*弹性盒子*/
li{
	list-style-type: none;
	
}
/*表单样式*/
 a{
color:cornflowerblue;
}
 a:hover{
	color:#add8e8;
}
/*左上角链接样式*/
span{
	width:130px;
	display: inline-block;
	color: #4876FF;
	font-size: 17px;
}
input:not(.btn){
	width:260px;
	height:30px;
	border:1px solid #d1eeee;
	border-radius: 10px;
	margin: 10px;
	font-size: 15px;
	opacity:0.8;
}
input:hover{
	box-shadow: 3px 3px 3px 3px #104e88;
}
/*表单文本框样式*/
.btn{
	width:80px;
	height: 30px;
	font-size: 15px;
	border-radius: 9px;
	background: #c6e2ff;
	border:1px solid #0000000;
	margin: 15px auto auto 170px;
}
/*表单按钮样式*/
